<!DOCTYPE html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="container">
        <h2>Welcome Page!</h2>
    </div>
</header>

<div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto elementos">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:if="${session.appUserSession != null}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Authors
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item"  th:href="@{/author/register}">Create Author</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" th:href="@{/author/list}">List Author</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:if="${session.appUserSession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Publishers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item" th:href="@{/publisher/register}">Create Publisher</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" th:href="@{/publisher/list}">List Publishers</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:if="${session.appUserSession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item" th:href="@{/admin/users}">List Users</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/profile}" >Update Profile</a></li>
                <li><hr class="dropdown-divider"></li>

                <li><a class="dropdown-item" th:href="@{/logout}" >Log Out</a></li>
            </ul>
        </li>

    </ul>
</div>

</body>



