<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 

    <head>
        <title>Angelita Library</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>

    <body>

        <header>
            <div class="container">
                <h2>Insert the requested Publisher here!</h2>
            </div>
        </header>

        <div class="container">

            <form action="/publisher/oneListed" method="POST">

                <div class="form-group">
                    <input type="text" name="name" class="form-control"></input>
                </div>
                
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 messageError">
                    <div class="card-body"> 
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${error}"> </p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"> Submit 
                </button> 

            </form>

        </div>

    </body>
</html>
